@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
#hero {
  background-image: linear-gradient(
      0deg,
      rgba(16, 16, 16, 0) 100%,
      rgba(16, 16, 16, 0) -19.5%
    ),
    url("assets/hero-bg.png");
  height: 615px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content .subtitle {
  color: rgba(255, 255, 255, 1);
  font-family: Work Sans;
  font-style: SemiBold;
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
}
.hero-content {
  width: 500px;
  height: 200px;
}
.hero-content .title {
  color: rgba(255, 255, 255, 1);
  font-family: Work Sans;
  font-style: Bold;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.hero-content .description {
  color: rgba(255, 255, 255, 1);
  font-family: Work Sans;
  font-style: Medium;
  font-size: 15px;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-top: 5px;
}
.btn {
  padding: 14px 18px 14px 18px;
  color: rgba(255, 255, 255, 1);
  font-family: Work Sans;
  font-style: SemiBold;
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgba(82, 195, 3, 1);
  border: none;
}
.btn-container {
  text-align: center;
  margin-top: 15px;
}
